<div style="border:1px solid black;padding:10px;">
<strong>{$sponsorstext}</strong>
<br/>
<a href="http://www.bpti.eu/" target="_blank"> Baltic Institute of Advanced Technology</a>
<br/>
<a href="http://www.helminikon.no" target="_blank">www.helminikon.no</a>
<br/>
</div>
<br/>
{$donationstext}
<br/><br/>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="8657687" />
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" />
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>
<br/><br/>

{$formstart}
{$hidesubmit}
{$formend}




