<br/>
<table class='pagetable'>
<tr>
  <td valign="top" style="text-align:center; width:200px;">
<br/>

{if $title!=""}
  <h1>{$title}</h1>
{/if}

</td>
  <td valign="top">
<br/>
<table align='center' class='pagetable' style="width:600px">
<thead>
  <tr>
  
  <th>{$nostatstext}</th>
  
  </tr>
</thead>
<tbody>
  
  <tr>
  
    <td>{$nostatstext}</td>
  
  </tr>
  
</tbody>
</table>

</td>
<td valign="top" style="text-align:center;width:200px;">
<br/>


  <img alt=""  src="../modules/Statistics/icons/{$iconset}/nodata.png" style="float:right" />




</td>
</tr>
</table>