{$startform}
	<div class="pageoverflow">
		<p class="pagetext">{$title_custom_modulename}:</p>
		<p class="pageinput">{$input_custom_modulename}<br />{$help_custom_modulename}</p>
	</div>
	<div class="pageoverflow">
		<p class="pagetext">{$title_admin_section}:</p>
		<p class="pageinput">{$input_admin_section}<br />{$help_admin_section}</p>
	</div>
  <div class="pageoverflow">
    <p class="pagetext">{$title_xmlimport}:</p>
    <p class="pageinput">{$input_xmlimport}</p>
  </div>
	<div class="pageoverflow">
		<p class="pagetext">{$title_xmlexport}:</p>
		<p class="pageinput">{$xmlexport}</p>
	</div>

  
<hr />	
	<div class="pageoverflow">
		<p class="pagetext">&nbsp;</p>
		<p class="pageinput">{$submit}{$cancel}</p>
	</div>
{$endform}