<ul>
  <li>
    <strong>JMFilePicker 1.0.1 (July 2017):</strong>:
    <ul>
      <li>fixed BR#11494: Not functional in CMSMS version 2.2.2</li>
      <li>fixed BR#11025: bug when more than one filepicker used per LISEinstance</li>
    </ul>
  </li>
  <li>
    <strong>JMFilePicker 1.0 (February 2016):</strong> Initial release;
  </li>
</ul>