<div class="pageoverflow">
  <a href="{$back_url}">{$ModuleManager->Lang('back_to_module_manager')}</a>
</div>
<center><h1>{$title}</h1></center>
<p><b>{$moduletext}</b>:&nbsp;{$modulename}</p>
<p><b>{$vertext}</b>:&nbsp;{$moduleversion}</p>
<p><b>{$xmltext}</b>:&nbsp;{$xmlfile}</p>
<hr/>
{$content}
